label {{field.text | translate}}
input(
    type="password"
    name="{{field.property}}"
    ng-model="object[field.property]"
    ng-readonly="readOnly(field)"
    ng-required="field.required"
    ng-minlength="field.minLength"
    ng-maxlength="field.maxLength"
)
