label {{field.title | translate}}

style.
    md-input-container ck-editor.md-input {
        border-width: 0;
    }
    md-input-container ck-editor.md-input.ng-invalid.ng-dirty {
        border-width: 2px;
        border-style: solid;
    }
    md-input-container.md-input-focused ck-editor.md-input {
        border-width: 2px;
        border-style: solid;
    }

ck-editor.md-input(
    ng-if="!readOnly(field)"
    ng-model="object[field.property]"
    options="{}"
    readonly="false"
    ng-required="field.required"
    name="{{field.property}}"
)

div(ng-if="readOnly(field)" ng-bind-html="object[field.property]")
